/** 
 * 1. Variables
 **/

// Colors

$black: #000a1e;
$grey-1: #404756;
$grey-2: #59606d;
$grey-3: #a6a9b0;
$grey-4: #e6e7e9;
$white: #ffffff;

$blue: #0078c8;
$red: #dc3246;
$green: #00823c;

// Text

$font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
  'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

$font-size-xlarge: 2rem;
$font-size-large: 1.5rem;
$font-size-medium: 1rem;
$font-size-medium: 1rem;
$font-size-small: 0.75rem;

// Other

$border-radius: 3px;

/**
 * 2. Mixins
 **/

/**
 * 3. Reset / Base
 **/

@import 'normalize';

/**
 * 4. Typography
 **/

h1,
h2,
h3,
h4 {
  font-family: $font-family;
  color: $black;
}

/**
 * 5. Components
 **/

.c-input,
.c-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: $grey-4;
  border-radius: 3px;
  border: 1px solid $grey-3;
  font-family: $font-family;
  min-height: 40px;
  padding: 8px 16px;
  width: 200px;
}

.c-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  display: inline-block;
  font-family: $font-family;
  font-size: inherit;                            
  margin: 0;
  outline: none;
  background-color: #fff;
  border: 1px solid #a6a9b0;
  border-radius: 3px;
  color: #0078c8;
  font-weight: bold;
  position: relative;
  text-align: center;
  text-decoration: none;
  line-height: 1rem;
  min-height: 40px;
  padding: 11px 16px;
  &:active,
  &:focus {
    outline: solid $grey-4 2px;
  }
  &:hover {
    background: $grey-4;
  }
}

.c-button-blue {
  @extend .c-button;
  color: $white;
  font-weight: 500;
  background-color: $blue;
  transition: .2s ease;
  &:hover {
    background-color: darken($blue, 10%);
  }
}

.c-icon {
  fill: $white;
  width: 13px;
  margin: 0 3px;
  height: auto;
}
